/*
|--------------------------------------------------------------------------
| Root variables
|--------------------------------------------------------------------------
*/

:root {
    --bg-darkest: rgb(11, 11, 11);
    --bg-dark: rgb(22, 22, 22);
    --bg-medium: rgb(38, 38, 38);
    --bg-bright: rgb(54, 54, 54);
    --bg-brighter: rgb(74, 74, 74);
    --bg-trust: rgb(36, 66, 36);
    --bg-trust-h: rgb(43, 80, 43);
    --bg-untrust: rgb(63, 36, 36);
    --bg-untrust-h: rgb(80, 43, 43);
    --bg-error: rgb(232, 85, 85);
    --text-dark: rgb(112, 112, 112);
    --text-bright: rgb(199, 199, 199);
    --text-link: rgb(81, 119, 255);
    --text-link-h: rgb(170, 173, 228);
    --text-seed: rgb(62, 213, 62);
    --text-leech: rgb(255, 45, 45);
    --text-down: rgb(70, 70, 255);
    --text-error: rgb(225, 30, 30);
    --btn-green: rgb(41, 161, 61);
    --btn-green-h: rgb(60, 201, 84);
    --btn-red: rgb(168, 18, 18);
    --btn-red-h: rgb(255, 48, 48);
    --panel-sh: 0 0 3px 2px var(--bg-darkest);
    --btn-text-sh: 1px 1px 2px black;
}

/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
*/

body,
select,
input,
textarea,
button,
address,
.fillable:-webkit-autofill {
    font-family: Inter, system-ui, sans-serif;
}

kbd {
    font-family: Consolas, "Courier New", monospace;
}

body,
button,
kbd {
    color: var(--text-bright);
}

a {
    text-decoration: none;
    color: var(--text-link);
}

a:hover {
    color: var(--text-link-h);
}

address {
    font-style: normal;
}

/*
|--------------------------------------------------------------------------
| Universal reset
|--------------------------------------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

/*
|--------------------------------------------------------------------------
| Customized CSS remedy
|--------------------------------------------------------------------------
*/

::before,
::after {
    box-sizing: border-box;
}

button {
    outline: none;
}

html {
    line-sizing: normal;
}

[hidden] {
    display: none;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1.00rem;
}

h5 {
    font-size: 0.83rem;
}

h6 {
    font-size: 0.67rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

pre {
    white-space: pre-wrap;
}

hr {
    border-style: solid;
    border-width: 1px 0 0;
    color: inherit;
    height: 0;
    overflow: visible;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
    max-width: 100%;
}

audio:not([controls]) {
    display: none;
}

picture {
    display: contents;
}

source {
    display: none;
}

img,
svg,
video,
canvas {
    height: auto;
}

audio {
    width: 100%;
}

img {
    border-style: none;
}

svg {
    overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

/*
|--------------------------------------------------------------------------
| Scrollbars
|--------------------------------------------------------------------------
*/

body::-webkit-scrollbar,
select::-webkit-scrollbar,
.select-items::-webkit-scrollbar {
    width: .5em;
}

body::-webkit-scrollbar-track {
    background-color: var(--bg-dark);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--bg-bright);
}

select::-webkit-scrollbar-track,
.select-items::-webkit-scrollbar-track {
    background-color: var(--bg-medium);
}

select::-webkit-scrollbar-thumb,
.select-items::-webkit-scrollbar-thumb {
    background-color: var(--bg-brighter);
}

/*
|--------------------------------------------------------------------------
| Utilities
|--------------------------------------------------------------------------
*/

.red {
    color: rgb(255, 42, 42);
}

.green {
    color: rgb(12, 183, 12);
}

.orange {
    color: rgb(255, 103, 22);
}

.blue {
    color: rgb(117 117 255);
}

.fill-height {
    height: 100%;
}

.flex-v {
    display: flex;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.f-al-cent {
    align-items: center;
}

.f-al-strt {
    align-items: flex-start;
}

.f-just-bet {
    justify-content: space-between;
}

.f-just-cent {
    justify-content: center;
}

.f-just-eve {
    justify-content: space-evenly;
}

.fillable {
    outline: none;
    font-size: .95rem;
    padding: .4rem .6rem;
    background-color: var(--bg-medium);
    border: 2px solid var(--bg-brighter);
    box-shadow: inset 0px 0px 3px 1px var(--bg-dark);
    color: var(--text-bright);
    margin-bottom: 1rem;
}

.fillable:-webkit-autofill {
    outline: none !important;
    font-size: .95rem !important;
    padding: .4rem .6rem !important;
    background-color: var(--bg-medium) !important;
    border: 2px solid var(--bg-brighter) !important;
    box-shadow: inset 0px 0px 3px 1px var(--bg-dark) !important;
    color: var(--text-bright) !important;
    margin-bottom: 1rem !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: var(--text-bright) !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

.fillable:hover,
.fillable:focus,
.fillable:-webkit-autofill:hover,
.fillable:-webkit-autofill:focus,
.fillable:-webkit-autofill:active {
    background-color: var(--bg-bright) !important;
}

.btn {
    cursor: pointer;
    color: var(--text-bright);
    outline: none;
}

.content-panel {
    background-color: var(--bg-medium);
    box-shadow: var(--panel-sh);
    width: 100%;
    margin-bottom: 1.4rem;
    padding: 1rem;
}

.page-title {
    margin-bottom: 1.2rem;
    text-align: center;
}

.ph-error {
    border-color: var(--bg-error) !important;
}

.ph-error::placeholder {
    color: var(--bg-error);
}

.ph-good {
    border-color: var(--btn-green) !important;
}

kbd {
    background-color: var(--bg-brighter);
    padding: 1px 3px;
    box-shadow: 0 0 3px 1px rgb(29, 29, 29);
    font-size: .82rem;
}

/*
|--------------------------------------------------------------------------
| Body
|--------------------------------------------------------------------------
*/

body {
    background-color: var(--bg-dark);
}

.body-container {
    min-height: calc(84vh - 4rem);
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bg-dark);
    z-index: 1;
}

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/

header {
    background-color: var(--bg-darkest);
    height: 56px;
    position: sticky;
    top: 0;
    margin-bottom: 2rem;
    max-width: 100vw;
    border-bottom: 1px solid var(--bg-medium);
    box-shadow: 0 4px 4px -1px var(--bg-darkest);
    z-index: 2;
}

.header-container {
    height: 56px;
    margin-left: auto;
    margin-right: auto;
}

.topnav {
    list-style-type: none;
}

.topnav-item:hover {
    background-color: var(--bg-medium);
}

.topnav-item a:hover {
    color: white;
}

.topnav-item a {
    text-align: center;
    color: var(--text-bright);
    padding: 0 1rem;
    height: 100%;
    font-size: .96rem;
    font-weight: 500;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

footer {
    background-color: var(--bg-darkest);
    height: 56px;
    max-width: 100vw;
    margin-top: 2rem;
    border-top: 1px solid var(--bg-medium);
    box-shadow: 0 -4px 4px -1px var(--bg-darkest);
}

/*
|--------------------------------------------------------------------------
| Search
|--------------------------------------------------------------------------
*/

.search-container {
    position: relative;
}

.search-container * {
    white-space: nowrap;
}

.filter-drop {
    width: 8.4rem;
}

.category-drop {
    width: 10rem;
}

.custom-select select {
    display: none;
}

.custom-select {
    position: relative;
}

.select-selected {
    background-color: var(--bg-medium);
    border-top: 1px solid var(--bg-medium);
    border-bottom: 1px solid var(--bg-medium);
    padding: .6rem .7rem .6rem .8rem;
}

.select-selected span {
    overflow: hidden;
    display: block;
    margin-right: 1rem;
}

.select-selected:hover {
    background-color: var(--bg-bright);
    border-color: var(--bg-bright);
    color: white;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 45%;
    right: 5%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--text-bright) transparent transparent transparent;
}

.select-selected.select-arrow-active {
    background-color: var(--bg-bright);
    border-color: var(--bg-bright);
    color: white;
}

.select-selected:hover:after {
    border-color: white transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent white transparent;
    top: 25%;
}

.select-items div,
.select-selected {
    color: var(--text-bright);
    cursor: pointer;
}

.select-items {
    position: absolute;
    background-color: var(--bg-bright);
    top: 102%;
    left: 0;
    right: -160px;
    z-index: 99;
    box-shadow: 0 0 3px 2px rgb(10, 10, 10);
    max-height: 70vh;
    overflow-y: scroll;
}

.select-items span {
    width: 100%;
    height: 100%;
    padding: .6rem 0 .6rem .5rem;
    display: block;
    overflow: hidden;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: var(--bg-brighter);
    color: white !important;
}

.search-bar {
    border: 2px solid var(--bg-medium);
    border-right: none;
    border-left: none;
    outline: none;
    font-size: .94rem;
    font-weight: 500;
    color: var(--text-bright);
    background-color: var(--bg-dark);
    padding: .6rem .7rem;
}

.search-bar:hover {
    box-shadow: 0 0 0px 2px var(--bg-brighter) inset;
}

.search-bar:focus {
    box-shadow: 0 0 0px 2px var(--bg-brighter) inset;
}

.search-btn {
    outline: none;
    border: 1px solid var(--bg-medium);
    background-color: var(--bg-medium);
    color: var(--text-bright);
    font-size: 1.25rem;
    font-weight: 500;
    padding: .4rem .6rem;
    transform: scale(-1, 1);
}

.search-btn:hover {
    background-color: var(--bg-bright);
    border: 1px solid var(--bg-bright);
}

/*
|--------------------------------------------------------------------------
| Home table
|--------------------------------------------------------------------------
*/

.table {
    width: 100%;
    max-width: 100%;
    border: 5px solid var(--bg-medium);
    white-space: nowrap;
    border-collapse: collapse;
    box-shadow: var(--panel-sh);
    table-layout: fixed;
}

thead {
    background-color: var(--bg-dark);
    font-size: .95rem;
    font-weight: 500;
}

th {
    color: var(--text-bright);
}

tbody {
    font-weight: 400;
}

.tr--trusted {
    background-color: var(--bg-trust) !important;
}

.tr--untrusted {
    background-color: var(--bg-untrust) !important;
}

td {
    color: var(--text-bright);
}

.table-td--center {
    text-align: center;
}

.table-th--left {
    text-align: left;
}

tbody>tr:nth-of-type(odd) {
    background-color: var(--bg-medium);
}

th {
    padding: 10px .3rem;
}

td {
    padding: 8px .3rem;
}

tbody tr:hover {
    background-color: var(--bg-bright);
    filter: drop-shadow(0 0 1px white);
}

.tr--untrusted:hover {
    background-color: var(--bg-untrust-h) !important;
}

.tr--trusted:hover {
    background-color: var(--bg-trust-h) !important;
}

.dl-magnet {
    font-size: .85rem;
}

thead>tr>th:nth-child(1) {
    width: 7rem;
}

thead>tr>th:nth-child(2) {
    width: 5rem;
}

thead>tr>th:nth-child(5) {
    width: 6rem;
}

thead>tr>th:nth-child(6) {
    width: 8.5rem;
}

.table-seeders {
    color: var(--text-seed);
}

.table-leechers {
    color: var(--text-leech);
}

.table-downloads {
    color: var(--text-down);
}

.pag-container {
    margin-top: 1.3rem;
    text-align: center;
}

/*
|--------------------------------------------------------------------------
| Pagination
|--------------------------------------------------------------------------
*/

.pagination {
    display: inline-block;
    box-shadow: var(--panel-sh);
}

.pagination a {
    color: var(--text-bright);
    background-color: var(--bg-medium);
    float: left;
    padding: .5rem .7rem;
    text-decoration: none;
    border: 1px solid var(--bg-bright);
    border-right: none;
    font-size: .9rem;
    font-weight: 600;
}

.pagination:last-child {
    border-right: 1px solid var(--bg-bright);
}

.pagination a.active {
    background-color: var(--bg-brighter);
    color: var(--text-bright);
    border: 1px solid var(--text-bright);
}

.pagination a:hover:not(.active) {
    background-color: var(--bg-bright);
    box-shadow: inset 0px 0px 0px 1px var(--text-dark);
}

/*
|--------------------------------------------------------------------------
| Single
|--------------------------------------------------------------------------
*/

.single-panel {
    background-color: var(--bg-medium);
    box-shadow: var(--panel-sh);
    width: 100%;
    margin-bottom: 1.4rem;
    border: 1px solid transparent;
}

.panel--default {
    border-color: transparent;
}

.panel--trusted {
    border-color: var(--bg-trust);
}

.panel--untrusted {
    border-color: var(--bg-untrust);
}

.panel--default>.panel-heading {
    background-color: var(--bg-bright);
    color: var(--text-bright);
}

.panel--trusted>.panel-heading {
    background-color: var(--bg-trust);
}

.panel--untrusted>.panel-heading {
    background-color: var(--bg-untrust);
}

.panel-heading {
    padding: .7rem 1rem;
    font-weight: 500;
    font-size: 1.05rem;
}

.single-controls {
    width: 200px;
}

.single-controls form {
    width: 50%;
}

.single-controls a {
    border: 2px solid var(--bg-brighter);
    border-right: 1px solid var(--bg-brighter);
    color: var(--text-bright);
    background-color: var(--bg-bright);
    font-size: .9rem;
    font-weight: 700;
    padding: .3rem .55rem;
    width: 50%;
    text-align: center;
}

.single-controls button {
    border: 2px solid var(--bg-brighter);
    border-left: 1px solid var(--bg-brighter);
    color: var(--text-bright);
    background-color: var(--bg-bright);
    font-size: .9rem;
    font-weight: 700;
    padding: .3rem .55rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.single-controls a:hover,
.single-controls button:hover {
    background-color: var(--bg-brighter);
}

.panel-body {
    padding: 1rem;
    color: var(--text-bright);
    font-size: .9rem;
}

.upload-info {
    width: 100%;
    margin-bottom: .5rem;
}

.upload-info > div {
    width: 50%;
}

.panel-left {
    margin-right: .5rem;
}

.panel-right {
    margin-left: .5rem;
}

.upload-info > div > div {
    margin-bottom: .2rem;
}

.single-title {
    min-width: 20%;
}

.single-seed,
.single-seed-val {
    color: var(--text-seed);
}

.single-leech,
.single-leech-val {
    color: var(--text-leech);
}

.single-down,
.single-down-val {
    color: var(--text-down);
}

.panel-footer {
    background-color: var(--bg-bright);
    padding: .6rem .9rem;
    font-size: .9rem;
}

.panel-footer span {
    font-size: .9rem;
    color: var(--text-bright);
}

.single-report-btn {
    border: none;
    background-color: var(--btn-red);
    color: var(--text-bright);
    cursor: pointer;
    padding: .2rem .4rem;
}

.single-report-btn:hover {
    background-color: var(--btn-red-h);
}

.file-list ul {
    list-style: none;
}

.sub-folder, .sub-folder *, .file {
    max-height: 100%;
}

.file.inactive, .sub-folder.inactive, .sub-folder.inactive * {
    max-height: 0;
    overflow: hidden;
}

.folder-title,
.sub-folder-title {
    font-weight: bold;
    cursor: pointer;
}

.file-icon {
    font-size: 1.4rem;
    margin-right: .2rem;
    font-weight: bolder;
}

.file-size {
    font-weight: bold;
    margin-left: .2rem;
}

.comments {
    margin-top: .5rem;
}

.comments .single-panel {
    margin-bottom: .5rem;
}

.comment-panel {
    width: 99%;
    box-shadow: none;
    border: 2px solid var(--bg-brighter);
}

.comment-body {
    overflow-wrap: anywhere;
}

.comment-panel > .panel-body {
    position: relative;
}

.user-col {
    min-width: 12%;
    max-width: 12%;
    margin-right: 5px;
}

.user-col .img-container {
    overflow: hidden;
    max-width: 100%;
    max-height: 134.17px;
}

.user-col .avatar {
    max-width: 100%;
}

.user-col span {
    margin-bottom: 9px;
    font-size: .96rem;
}

.comment-col {
    margin-left: .9rem;
}

.comment-details {
    font-size: .96rem;
    margin-bottom: 9px;
}

.comment-details a {
    font-size: .8rem;
}

.comment-body {
    background-color: var(--bg-bright);
    padding: .4rem .7rem;
    font-size: 1rem;
}

.comment-controls {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 200px;
    height: 1.9rem;
}

.comment-controls form {
    width: 50%;
}

.comment-controls button {
    border: 2px solid var(--bg-brighter);
    border-left: 1px solid var(--bg-brighter);
    color: var(--text-bright);
    background-color: var(--bg-bright);
    font-size: .9rem;
    font-weight: 700;
    padding: .3rem .55rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.comment-controls a:hover,
.comment-controls button:hover {
    background-color: var(--bg-brighter);
}

.comment-box {
    padding: 1rem;
}

.comment-label {
    margin-bottom: 4px;
    color: var(--text-bright);
    font-size: 1rem;
    font-weight: 700;
}

.comment {
    resize: vertical;
    height: 8em;
    color: var(--text-bright);
    width: 100%;
    resize: vertical;
}

.fillable {
    outline: none;
    font-size: .95rem;
    padding: .4rem .6rem;
    background-color: var(--bg-medium);
    border: 2px solid var(--bg-brighter);
    box-shadow: inset 0px 0px 3px 1px var(--bg-dark);
    color: var(--text-bright);
    margin-bottom: 1rem;
}

.comment:hover,
.comment:focus {
    background-color: var(--bg-brighter);
}

.comment-btn {
    border: 2px solid var(--bg-brighter);
    background-color: var(--btn-green);
    cursor: pointer;
    padding: .4rem .6rem;
    color: var(--text-bright);
    text-shadow: var(--btn-text-sh);
}

.comment-btn:hover {
    background-color: var(--btn-green-h);
}

/*
|--------------------------------------------------------------------------
| Upload
|--------------------------------------------------------------------------
*/

.upload-container .advice {
    margin-bottom: 10px;
    color: var(--text-bright);
    font-size: .9rem;
    text-align: center;
}

.form-container {
    margin-bottom: 1rem;
}

.file-container {
    width: 100%;
}

.upload-container .descriptor {
    color: var(--text-bright);
    font-weight: 700;
    font-size: .9rem;
    margin-bottom: .7rem;
    width: fit-content;
}

.in-btn {
    color: var(--text-bright);
}

.upload-btn {
    padding: .4rem .6rem;
    background-color: var(--bg-bright);
    font-size: .95rem;
    cursor: pointer;
    border: 2px solid var(--bg-bright);
}

.upload-btn:hover {
    background-color: var(--bg-brighter);
    border: 2px solid var(--bg-brighter);
}

.upload-btn:hover+.upload-field {
    border: 2px solid var(--bg-brighter);
}

.upload-field {
    outline: none;
    font-size: .95rem;
    padding: .4rem .6rem;
    background-color: var(--bg-medium);
    border: 2px solid var(--bg-bright);
    box-shadow: inset 0px 0px 3px 1px var(--bg-dark);
    width: 100%;
    color: var(--text-bright);
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.info {
    width: 48%;
}

.category-select {
    outline: none;
    font-size: .9rem;
    padding: .4rem .6rem;
    background-color: var(--bg-medium);
    border: 2px solid var(--bg-brighter);
    box-shadow: inset 0px 0px 3px 1px var(--bg-dark);
    width: 100%;
    color: var(--text-bright);
    margin-bottom: 1rem;
}

.select-error {
    border-color: var(--bg-error);
}

.category-select:hover {
    background-color: var(--bg-bright);
}

option {
    font-size: .9rem;
}

option:checked {
    background-color: var(--bg-brighter);
}

.editor-tabs {
    list-style: none;
    margin-top: .8rem;
}

.editor-tabs li {
    padding: .9rem 0;
}

.editor-tabs li a {
    padding: .9rem .8rem;
    font-size: .9rem;
    color: var(--text-bright);
}

.editor-tabs>li.tab-active>a,
.editor-tabs>li.tab-active>a:hover,
.editor-tabs>li.tab-active>a:focus {
    background-color: var(--bg-brighter);
    color: var(--text-bright);
}

.editor-tabs>li.tab-inactive>a:hover {
    background-color: var(--bg-bright);
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.upload-container .markdown-source {
    resize: vertical;
    min-height: 360px;
    font-size: .9rem;
    padding: 10px 14px;
    width: 100%;
    z-index: 3;
}

.markdown-source:focus {
    background-color: var(--bg-bright);
}

.markdown-preview {
    padding: 10px 14px;
    font-size: .9rem;
    min-height: 360px;
    border: 2px solid var(--bg-brighter);
    width: 100%;
    z-index: 2;
    margin-bottom: calc(1rem + 4px);
    box-shadow: inset 0px 0px 3px 1px var(--bg-dark);
}

.end-btn {
    border: none;
    background-color: var(--btn-green);
    border: 2px solid var(--bg-brighter);
    cursor: pointer;
    padding: .6rem .8rem;
    color: var(--text-bright);
    font-size: 1.1rem;
    width: 100%;
    text-shadow: var(--btn-text-sh);
}

.end-btn:hover {
    background-color: var(--btn-green-h);
}

/*
|--------------------------------------------------------------------------
| Auth
|--------------------------------------------------------------------------
*/

.auth-container h1 {
    margin-bottom: 1.6rem;
}

.auth-container span {
    font-size: .85rem;
    margin-bottom: .4rem;
}

.auth-container form {
    width: 100%;
}

.auth-container label {
    margin-bottom: .3rem;
}

.auth-container input[type=text],
.auth-container input[type=password] {
    width: 40%;
}

.auth-btn {
    padding: .6rem .8rem;
    background-color: var(--btn-green);
    border: 2px solid var(--bg-brighter);
    font-size: 1rem;
    text-shadow: var(--btn-text-sh);
}

.auth-btn:hover {
    background-color: var(--btn-green-h);
}

.auth-container .error {
    color: var(--text-error);
    font-size: .95rem;
    font-weight: 700;
    border: 2px solid var(--text-error);
    padding: .2rem .4rem;
    background-color: var(--bg-darkest);
}

/*
|--------------------------------------------------------------------------
| User dropdown
|--------------------------------------------------------------------------
*/

.user-drop {
    position: relative;
    display: inline-block;
    height: 100%;
    padding: 0 .7rem;
}

.user-btn {
    outline: none;
    border: none;
    color: var(--text-bright);
    font-size: .94rem;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
    padding: 0 .7rem;
    height: 100%;
}

.user-btn:hover {
    background-color: var(--bg-medium);
    color: white;
}

.user-btn--active {
    background-color: var(--bg-medium);
    color: white;
}

.user-icon {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-right: .4rem;
}

.user-arrow {
    line-height: .1rem;
}

.user-dropdown {
    display: none;
    position: absolute;
    background-color: var(--bg-bright);
    flex-direction: column;
    overflow: auto;
    box-shadow: 0 0 3px 2px rgb(10, 10, 10);
}

.user-dropdown > span {
    color: var(--text-bright);
    padding: .4rem .5rem;
    font-size: 1rem;
    width: 100%;
    background-color: var(--bg-bright);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-dropdown a {
    color: var(--text-bright);
    padding: .4rem .5rem;
}

.user-dropdown button {
    color: var(--text-bright);
    padding: .4rem .5rem;
    font-size: 1rem;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    background-color: var(--bg-bright);
}

.user-dropdown button span {
    padding-left: .1rem;
}

.user-dropdown button:hover,
.user-dropdown a:hover {
    background-color: var(--bg-brighter);
    color: white;
}

.drop-show {
    display: flex;
}

/*
|--------------------------------------------------------------------------
| Flash message
|--------------------------------------------------------------------------
*/

.flash-holder {
    position: fixed;
    visibility: hidden;
    bottom: 15%;
}

.flash-container {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--bg-medium);
    border: 2px solid var(--bg-brighter);
    padding: .8rem 1.1rem;
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: 0 0 3px 5px var(--bg-darkest);
    z-index: 5;
}

.flash-show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 1%;
        opacity: 0;
    }

    to {
        bottom: 15%;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 1%;
        opacity: 0;
    }

    to {
        bottom: 15%;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 15%;
        opacity: 1;
    }

    to {
        bottom: 1%;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 15%;
        opacity: 1;
    }

    to {
        bottom: 1%;
        opacity: 0;
    }
}

/*
|--------------------------------------------------------------------------
| Profile
|--------------------------------------------------------------------------
*/

.profile-container .img-container {
    overflow: hidden;
    position: relative;
    max-width: 200px;
    max-height: 200px;
    margin-right: 4rem;
    margin-bottom: .4rem;
}

.profile-container img {
    max-width: 200px;
}

.user-controls {
    width: 200px;
}

.user-controls form {
    width: 50%;
}

.user-controls a {
    border: 2px solid var(--bg-brighter);
    border-right: 1px solid var(--bg-brighter);
    color: var(--text-bright);
    background-color: var(--bg-bright);
    font-size: .9rem;
    font-weight: 700;
    padding: .3rem .55rem;
    width: 50%;
    text-align: center;
}

.user-controls button {
    border: 2px solid var(--bg-brighter);
    border-left: 1px solid var(--bg-brighter);
    color: var(--text-bright);
    background-color: var(--bg-bright);
    font-size: .9rem;
    font-weight: 700;
    padding: .3rem .55rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.user-controls a:hover,
.user-controls button:hover {
    background-color: var(--bg-brighter);
}

.user {
    margin-bottom: 1rem;
}

.user-info p:nth-child(odd) {
    background-color: var(--bg-dark);
}

.user-info p {
    padding: .4rem .5rem;
}

.user-info p span {
    font-weight: 700;
    margin-right: .6rem;
}

.user-info p a {
    font-weight: 700;
    margin-right: .6rem;
}

.user-info .uploads {
    border: none;
    outline: none;
    background-color: transparent;
    padding: .4rem .5rem;
    font-weight: 700;
    font-size: 1rem;
    margin-right: .6rem;
    color: var(--text-link);
    cursor: pointer;
}

.user-info .uploads:hover {
    color: var(--text-link-h);
}

.about-title {
    font-weight: 700;
}

/*
|--------------------------------------------------------------------------
| About
|--------------------------------------------------------------------------
*/

.about p {
    font-size: .93rem;
    margin-bottom: 1.8rem;
    text-indent: 2rem;
    line-height: 1.25;
}

/*
|--------------------------------------------------------------------------
| Rules
|--------------------------------------------------------------------------
*/

.rules ol {
    padding-left: 2rem;
    counter-reset: list;
}

.rules ol li {
    margin-bottom: 1.2rem;
    counter-increment: list;
}

.rules ol li::marker {
    content: counter(list) ")\a0";
}

/*
|--------------------------------------------------------------------------
| Loading animation
|--------------------------------------------------------------------------
*/

.dot-container {
    display: none;
    justify-content: center;
    width: 100%;
    margin: .9rem 0;
}

.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #9880ff;
    color: var(--btn-green-h);
    box-shadow: 9999px 0 0 -5px;
    animation: dot-pulse 1.5s infinite linear;
    animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #9880ff;
    color: var(--btn-green-h);
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px;
    animation: dot-pulse-before 1.5s infinite linear;
    animation-delay: 0s;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px;
    animation: dot-pulse-after 1.5s infinite linear;
    animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
    0% {
        box-shadow: 9984px 0 0 -5px;
    }

    30% {
        box-shadow: 9984px 0 0 2px;
    }

    60%,
    100% {
        box-shadow: 9984px 0 0 -5px;
    }
}

@keyframes dot-pulse {
    0% {
        box-shadow: 9999px 0 0 -5px;
    }

    30% {
        box-shadow: 9999px 0 0 2px;
    }

    60%,
    100% {
        box-shadow: 9999px 0 0 -5px;
    }
}

@keyframes dot-pulse-after {
    0% {
        box-shadow: 10014px 0 0 -5px;
    }

    30% {
        box-shadow: 10014px 0 0 2px;
    }

    60%,
    100% {
        box-shadow: 10014px 0 0 -5px;
    }
}

/*
|--------------------------------------------------------------------------
| Profile edit
|--------------------------------------------------------------------------
*/

.user-edit .descriptor {
    color: var(--text-bright);
    margin-bottom: .2rem;
    width: fit-content;
    font-size: 1.1rem;
    font-weight: 600;
}

.user-edit .subtitle {
    margin-bottom: .3rem;
    font-weight: 300;
    font-size: .9rem;
    max-width: 80%;
}

.user-edit .fillable {
    width: 80%;
}

.user-edit .markdown-source {
    resize: vertical;
    font-size: .9rem;
    padding: 10px 14px;
    width: 80%;
}

.user-edit-1 {
    margin-bottom: 1rem;
}

.user-edit-2 {
    width: 50%;
}

.user-edit-3 {
    width: 50%;
}

.user-edit hr {
    margin-bottom: 1rem;
}

.user-edit .img-container {
    overflow: hidden;
    position: relative;
    max-width: 20rem;
    max-height: 20rem;
    margin: .6rem 0;
}

/*
|--------------------------------------------------------------------------
| Comment edit
|--------------------------------------------------------------------------
*/

.comment-panel--edit {
    padding-top: 1rem;
    border: none;
    box-shadow: var(--panel-sh);
}

.comment-panel--edit .comment-col {
    width: 100%;
}

.comment-panel--edit textarea {
    min-height: 150px;
}

.comment-panel--edit .panel-body {
    position: relative;
}

/*
|--------------------------------------------------------------------------
| Media queries
|--------------------------------------------------------------------------
*/

@media only screen and (max-width: 600px) {
    :root {
        font-size: 14px;
    }
    .body-container,
    .header-container {
        width: 94%;
    }
    .header-container {
        justify-content: space-evenly;
    }
    .topnav {
        display: flex;
    }
    tbody,
    thead {
        font-size: .78rem;
    }
    .data-name {
        white-space: normal;
    }
    .col-category,
    .col-uploader,
    .col-date,
    .col-size,
    .col-down,
    .col-comments {
        display: none;
    }
    .data-link,
    .title-link {
        width: 2.8rem;
    }
    .data-link {
        display: flex;
        flex-direction: column;
    }
    .table-seeders,
    .table-leechers,
    .table-downloads,
    thead>tr>th:nth-child(10) {
        width: 2.5rem;
    }
    .search-container {
        margin-right: .45rem;
    }
    .search-bar {
        width: 8rem;
    }
    .user-name {
        display: none;
    }
    .user-arrow {
        margin-left: 0;
    }
    .user-dropdown {
        left: -12.8rem;
        right: 0.7rem;
    }
}

@media only screen and (min-width: 600px) {
    :root {
        font-size: 14px;
    }
    .body-container,
    .header-container {
        width: 94%;
    }
    .header-container {
        justify-content: space-evenly;
    }
    .topnav {
        display: flex;
    }
    tbody {
        font-size: .8rem;
    }
    .data-name {
        white-space: normal;
    }
    .col-uploader,
    .col-date,
    .col-size,
    .col-down,
    .col-comments {
        display: none;
    }
    .data-link,
    .title-link {
        width: 3rem;
    }
    .data-link {
        display: flex;
        flex-direction: column;
    }
    .table-seeders,
    .table-leechers,
    .table-downloads,
    thead>tr>th:nth-child(10) {
        width: 3.4rem;
    }
    .search-container {
        margin-right: .45rem;
    }
    .search-bar {
        width: 8rem;
    }
    .user-name {
        display: none;
    }
    .user-arrow {
        margin-left: 0;
    }
    .user-dropdown {
        left: -12.8rem;
        right: 0.7rem;
    }
}

@media only screen and (min-width: 768px) {
    :root {
        font-size: 14px;
    }
    .body-container,
    .header-container {
        width: 94%;
    }
    .topnav {
        display: flex;
    }
    .header-container {
        justify-content: space-evenly;
    }
    tbody {
        font-size: .85rem;
    }
    .data-link,
    .title-link {
        width: 4rem;
    }
    .data-name {
        white-space: normal;
    }
    .col-uploader,
    .col-down,
    .col-comments {
        display: none;
    }
    .col-date,
    .col-size {
        display: table-cell;
    }
    .data-link {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        width: 4rem;
    }
    .table-seeders,
    .table-leechers,
    .table-downloads,
    thead>tr>th:nth-child(10) {
        width: 3.4rem;
    }
    .search-container {
        margin-right: .45rem;
    }
    .search-bar {
        width: 8rem;
    }
    .user-name {
        display: none;
    }
    .user-arrow {
        margin-left: 0;
    }
    .user-dropdown {
        left: -12.8rem;
        right: 0.7rem;
    }
}

@media only screen and (min-width: 912px) {
    :root {
        font-size: 15px;
    }
    .body-container,
    .header-container {
        width: 86%;
    }
    .header-container {
        justify-content: space-around;
    }
    .topnav {
        display: flex;
    }
    tbody {
        font-size: .9rem;
    }
    .data-link,
    .title-link {
        width: 4rem;
    }
    .data-name {
        white-space: normal;
    }
    .col-uploader {
        display: none;
    }
    .col-size,
    .col-down,
    .col-comments,
    .col-date {
        display: table-cell;
    }
    .data-link {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        width: 4rem;
    }
    .table-seeders,
    .table-leechers,
    .table-downloads,
    thead>tr>th:nth-child(10) {
        width: 3.4rem;
    }
    .search-container {
        margin-right: .45rem;
    }
    .search-bar {
        width: 8rem;
    }
    .user-name {
        display: block;
    }
    .user-arrow {
        margin-left: .3rem;
    }
    .user-dropdown {
        width: calc(100% - 1.4rem);
        left: 0.7rem;
        right: 0;
    }
    .user-dropdown > span,
    .user-dropdown > hr {
        display: none;
    }
}

@media only screen and (min-width: 1158px) {
    :root {
        font-size: 15px;
    }
    .body-container,
    .header-container {
        width: 86%;
    }
    .header-container {
        justify-content: space-around;
    }
    .topnav {
        display: flex;
    }
    tbody {
        font-size: .95rem;
    }
    .data-link,
    .title-link {
        width: 4rem;
    }
    .data-name {
        white-space: normal;
    }
    .col-uploader {
        display: none;
    }
    .col-size,
    .col-down,
    .col-comments,
    .col-date {
        display: table-cell;
    }
    .data-link {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        width: 4rem;
    }
    .table-seeders,
    .table-leechers,
    .table-downloads,
    thead>tr>th:nth-child(10) {
        width: 3.4rem;
    }
    .search-container {
        margin-right: .45rem;
    }
    .search-bar {
        width: 8rem;
    }
    .user-name {
        display: block;
    }
    .user-arrow {
        margin-left: .3rem;
    }
    .user-dropdown {
        width: calc(100% - 1.4rem);
        left: 0.7rem;
        right: 0;
    }
    .user-dropdown > span,
    .user-dropdown > hr {
        display: none;
    }
}

@media only screen and (min-width: 1303px) {
    :root {
        font-size: 16px;
    }
    .body-container,
    .header-container {
        width: 86%;
    }
    .header-container {
        justify-content: space-between;
    }
    .topnav {
        display: flex;
    }
    tbody {
        font-size: .95rem;
    }
    .data-link,
    .title-link {
        width: 4rem;
    }
    .data-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .col-uploader,
    .col-date,
    .col-size,
    .col-down,
    .col-comments {
        display: table-cell;
    }
    .data-link {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        width: 4rem;
    }
    .table-seeders,
    .table-leechers,
    .table-downloads,
    thead>tr>th:nth-child(10) {
        width: 3.4rem;
    }
    .search-container {
        margin-right: .45rem;
    }
    .search-bar {
        width: auto;
    }
    .user-name {
        display: block;
    }
    .user-arrow {
        margin-left: .3rem;
    }
    .user-dropdown {
        width: calc(100% - 1.4rem);
        left: 0.7rem;
        right: 0;
    }
    .user-dropdown > span,
    .user-dropdown > hr {
        display: none;
    }
}

@media only screen and (min-width: 1450px) {
    :root {
        font-size: 18px;
    }
    .body-container,
    .header-container {
        width: 86%;
    }
    .header-container {
        justify-content: space-between;
    }
    .topnav {
        display: flex;
    }
    tbody {
        font-size: .95rem;
    }
    .data-link,
    .title-link {
        width: 4rem;
    }
    .data-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .col-uploader,
    .col-date,
    .col-size,
    .col-down,
    .col-comments {
        display: table-cell;
    }
    .data-link {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        width: 4rem;
    }
    .table-seeders,
    .table-leechers,
    .table-downloads,
    thead>tr>th:nth-child(10) {
        width: 3.4rem;
    }
    .search-container {
        margin-right: 0;
    }
    .search-bar {
        width: auto;
    }
    .user-name {
        display: block;
    }
    .user-arrow {
        margin-left: .3rem;
    }
    .user-dropdown {
        width: calc(100% - 1.4rem);
        left: 0.7rem;
        right: 0;
    }
    .user-dropdown > span,
    .user-dropdown > hr {
        display: none;
    }
}